//banner區塊
.banner {
    padding-top: $spacer * 10;
    background-image: url(../images/home-header.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    @include pad() {
        background-image: url(../images/home-header-sm.png);
    }
    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        height: 100%;
        h2 {
            font-size: 36px;
            color: $text-color;
            @include mobile() {
                font-size: 16px;
            }
        }
        p {
            font-size: 64px;
            color: $text-color;
            font-weight: 700;
            margin-bottom: $spacer * 0.5;
            @include mobile() {
                font-size: 24px;
                margin-bottom: $spacer;
            }
        }
        a {
            background-color: $primary;
            display: block;
            width: 104px;
            height: 40px;
            color: #fff;
            font-size: 20px;
            padding: 6px 12px;
        }
        a:hover {
            color: #000;
        }
    }
}
//服務項目區塊
.service {
    background: $secondary;
    .container {
        padding: $spacer * 10 0;
    }
    h2 {
        text-align: center;
        font-size: 48px;
        color: $text-color;
        font-weight: 700;
        margin-bottom: $spacer * 3;
    }
    .service-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -12px;
        li {
            width: 25%;
            margin: 0 auto;
            padding: 0 12px;
            text-align: center;
            @include pad() {
                width: 48%;
            }
            p {
                text-align: left;
            }
        }
        h4 {
            color: $text-color;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: $spacer;
        }
        img {
            width: 100px;
            height: 100px;
            margin-bottom: $spacer * 2;
        }
    }
}
